h1{ background-color: maroon; color: whitesmoke; font size: larger;font-family: 'Times New Roman', Times, serif; }
p{ color:antiquewhite; background-color: maroon; border: 1px; padding: 10px 10px 10px 10px; margin: 10px 10px 10px 10px;  }
h2{ color: antiquewhite; background-color: grey; font-size: large; font-family: 'Times New Roman', Times, serif;}