h1{ background-color: maroon; 
    color: whitesmoke; 
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    border: 1px; padding: 10px 10px 10px 10px; 
    margin: 10px 10px 10px 10px; }
p{ color:antiquewhite; 
    background-color: maroon; 
    border: 1px; 
    padding: 10px 10px 10px 10px; 
    margin: 10px 10px 10px 10px;  }
h2{ color: antiquewhite; 
    background-color: grey; 
    font-size: large; 
    font-family: 'Times New Roman', Times, serif;}
    .container{ max-width: 960px; 
    margin:1em auto 1em auto;
 }
 img{ width: 50%;
    height: auto;
}
nav ul{ display: flex;
flex-direction: row; 
padding: 0px;}
nav ul li{ flex: 1; list-style-type: none;
}
nav ul li a{ display: block; 
padding: 0.75em; 
margin: 0.25em;
background-color: maroon;
color: white;
text-align: center;
text-decoration: none;
border-radius: 10px;
 }
 @media screen and (max-width: 650px) {
    nav ul {
        flex-direction: column;
        padding: 0 20px;
        }
    nav ul li {
      margin:10px 0;
      }
  }